<h2>Songs <%= link_to "Add character", new_character_path %></h2>

<ul>
  <% @characters.each do |character| %>
    <li>
      <%= link_to "#{character.name} - #{character.house.name}", character, class: "link-style" %>
    </li>
  <% end %>
</ul>
