// Place all the styles related to the Houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


p {
  color: #820f41;
  text-align: center;
  font-size: 2.5em;
  font-family: 'MedievalSharp', cursive;
}

.house {
  text-align: center;
}
